
$white-color: #ffffff;
$gray-color: #6d6d6d;
$primary-color: #002d72;
$secondary-color: #0955c9;
$background-color: #f9f9f9;
$text-color: #333333;
$button-bg-color: #01111c;
$button-text-color: #ffffff;


$font-family-base: 'Lato', system-ui, sans-serif;
$font-family-alt: 'Arial', sans-serif;


$font-size-base: 1.6rem;
$line-height: 1.5;


$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;


$border-radius: 8px;

